.clear{
  clear: both;
}
.site{
  width: 600px;/* site classının  genişliğini 600px olarak belirledik */
  background-color: gray;/* arka planını gri yaptık */
  margin-right: auto;/* sağdan mesafesini otomatik belirledik */
  margin-left: auto;/* soldan mesafesini otomatik belirledik */
  /* border açılımı bu şekildede yazılabilir..
  border-width:10px;
  border-style:dashed;dotted
  border-color:red;
  */
  border: 10px dotted black;/* 10px kalınlığında yuvarlak biçimli siyah renk kenarlık yaptık */
  position: relative;/* pozisyonumuzu relative yaptık normal olması gereken duruş */
}
.header{
  height: 100px;/* header bölümü yüksekliği 100px verdik */
  color: white;/* yazı rengini beyaz olarak belirledik */
  font-size: 40px;/* yazı boyutunu 40px yaptık */
  background-color: red;/*arka plan rengini kırmızı belirledik */
  text-align: center;/*yazıyı ortaladık */
}
.content{
  width: 400px;/* içeriğin genişliğini 400px verdik */
  background-color: purple;/* arka plan rengini mor seçtik */
  float: left;/* content classını sola yasladık */
}
.sidebar{
  width: 200px;/*sidebar classının genişliğini 200px verdik */
  height: 200px;/* sidebar genişliğini 200px verdik */
  float: right;/*sidebar classını sağa yasladık */
  background-color: red;/* arka planını kırmızı belirledik */
}
.footer{
  height: 150px;
  background-color: purple;
  color: white;
  font-size: 20px;
  text-align: center;
  position: absolute;/* sol üst köşeyi pozisyon olarak belirledik */
  top: 0;
  left: 0;
}
.navigation{
  background-color: blue;
  position: relative;
  z-index: 1;/* iç içe girse bile üstünde yer alacak kesilmeyecek */
}
.navigation ul{
  list-style: none;
}
.navigation ul li{
  float: left;
  margin-left: 10px;
  background-color: red;
}
/*.navigation ul li:nth-child(1){
  margin-left: 0;
}
*/
.navigation ul li:first-child{
  margin-left: 0;
}
/*
.navigation ul li:last-child{
margin-left:0;
}
*/
.navigation ul li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  display: inline-block;
}
.navigation ul li a:hover {
  background-color: blue;/* mouse yazının üzerine geldiğinde arka plan mavi olarak değişecek */
}
